<figure class="p-8 md:flex bg-slate-100 rounded-xl md:p-0 dark:bg-slate-800">
  <%# Photo by <a href="https://unsplash.com/@krivitskiy?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Alexander Krivitskiy</a> on <a href="https://unsplash.com/photos/2nBge1QDJqw?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> %>
  <img class="w-24 h-24 mx-auto rounded-full md:w-48 md:h-auto md:rounded-none" src="<%= asset_path 'girl.jpg' %>" alt="" width="384" height="512">
  <div class="pt-6 text-center md:p-8 md:text-left space-y-4">
    <blockquote>
      <p class="text-lg font-medium">
        “Tailwind CSS is the only framework that I've seen scale
        on large teams. It’s easy to customize, adapts to any design,
        and the build size is tiny.”
      </p>
    </blockquote>
    <figcaption class="font-medium">
      <div class="text-sky-500 dark:text-sky-400">
        Sarah Dayan
      </div>
      <div class="text-slate-700 dark:text-slate-500">
        Staff Engineer, Algolia
      </div>
    </figcaption>
  </div>
</figure>
